@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

h1 {
  @apply decoration-pink-700/85 underline decoration-2 underline-offset-4;
  @apply text-2xl font-bold;
    /* font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold; */
    
}

h2 {
  @apply text-xl;
}
  
  .hero {
    grid-row-gap: 20px;
  }
  
.picture {
    padding: 15px; 
}

.section {
  @apply lg:mx-64;
}

.section-desc {
  @apply text-xl;
}

#small-text {
  font-size: 1rem;
}