@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav.scrolled {
  @apply shadow-2xl;
  border-bottom: 0px;
}

h1 {
  @apply decoration-pink-700 underline decoration-4 underline-offset-8;
  @apply text-3xl font-bold;
    /* font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold; */
    
}

h2 {
  @apply text-xl;
}
  
.hero {
    grid-row-gap: 20px;
}

@media screen and (max-width: 1024px) {
  .hero {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .hero-left {
    display: flex;
  }
}

.section {
  /* temporary centered content */
  @apply lg:mx-36;
}

.section-desc {
  @apply text-xl;
}

#small-text {
  font-size: 1rem;
}
